body {
  background-image: url("https://avatars.mds.yandex.net/i?id=1d8536f1049375ff878ff9320b27e6be706a476f-4080151-images-thumbs&n=13");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.info-short {
  display: flex;
  flex-direction: column;
}

body {
  text-align: center;
}
.jh {
  border: 2px solid #333;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.444);
  margin: 1em 40em;
}
.info-short {
  border: 2px solid #333;
  border-radius: 35px;
  background-color: rgba(255, 255, 255, 0.444);
  margin: 2em 40em;
}

img {
  border-radius: 35px;
  border: 2px solid #000000;
}
