* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.img1 {
  border-radius: 35px;
  border: 2px solid #000000;
}


body {
  background-image: url('https://avatars.mds.yandex.net/i?id=17041ce118dbd876b84d272f0bcfbb4e5a5ad1b8-12481555-images-thumbs&n=13');
  background-size: cover;
  border-radius: 300px;
}

main {
  width: 1080px;
  padding: 16px;
  margin: auto;
  background-color: rgba(250, 235, 215, 0.6);
  border: 2px solid #4b4b4b;
  border-radius: 25px;
}

.section {
  padding: 8px 25px;
  margin-top: 12px;
  background-color: rgba(250, 235, 215, 0.6);
  border: 2px solid #4b4b4b;
  border-radius: 25px;
}

/* Info */
.info {
  /* padding: 20px; */
  display: flex;
}

.info-text {
  margin: 20px 15px 10px;
}

.img2 {

  width: 80;
  height: auto;
  border-radius: 300px;
}

button {
  width: 80px;
  height: 80px;


  border-radius: 300px;

}




@media (max-width: 1250px) {
  main {
    width: 100%;
  }


}

@media (max-width: 800px) {
  .info {
    display: flex;
    flex-direction: column;
  }
}